{{!-- <section class="post-card"> --}}
  {{!-- <a href="/post/{{id}}"></a> --}}
    <div class="post-header">
      <h2 class="post-title">{{ title }}</h2>
      <h2 class="post-author">Posted by Name Name on 5/8/2020</h2>
    </div>
    <div>
      <p>{{ content }}</p>
    </div>
  {{!-- </a> --}}
{{!-- </section> --}}
{{!-- 
<section class="post-card">
    <div class="post-header">
      <h2 class="post-title">Lorem ipsum dolor sit amet </h2>
      <h2 class="post-author">Posted by Name Name on 5/8/2020</h2>
    </div>
    <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum cum quia, quidem asperiores sunt perferendis eos voluptate culpa adipisci magni explicabo eaque aliquid nihil velit vitae dolores quisquam nobis.</p>
    </div>
</section>
<div class="post-card">
  <div class="post-header">
    <h2 class="post-title">Lorem ipsum dolor sit amet </h2>
    <h2 class="post-author">Posted by Name Name on 5/8/2020</h2>
  </div>
  <div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum cum quia, quidem asperiores sunt perferendis eos voluptate culpa adipisci magni explicabo eaque aliquid nihil velit vitae dolores quisquam nobis.</p>
  </div>
</div>
<div class="post-card">
  <div class="post-header">
    <h2 class="post-title">Lorem ipsum dolor sit amet </h2>
    <h2 class="post-author">Posted by Name Name on 5/8/2020</h2>
  </div>
  <div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum cum quia, quidem asperiores sunt perferendis eos voluptate culpa adipisci magni explicabo eaque aliquid nihil velit vitae dolores quisquam nobis.</p>
  </div>
</div> --}}