<div class="login-card">
  <h2 class="login-title">Create New Post</h2>
  <form class="form login-form">
    {{> title }}
    {{> content }}
    <div class="form-group">
      <button class="btn btn-primary btn-custom" type="submit">Create</button>
    </div>
  </form>
    {{> add-post-button }}
</div>

<script src="./js/createPost.js"></script>