<div class="login-card">
  <h2 class="login-title">Create New Post</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <input class="form-input" type="text" id="post-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-custom" type="submit">Create</button>
    </div>
  </form>
  <a href="/create-posts">
    <div class="">
      <button class="btn post-header" type="submit">+ New Post</button>
    </div>
  </a>
</div>

{{!-- <script src="./js/login.js"></script> --}}