<div class="login-card">
  <h2 class="login-title">Edit Post</h2>
  <form class="form login-form">
    {{> title-input }}
    {{> content-input }}
    <div class="form-group" id="update-button">
      <button id="update-button" class="btn btn-primary btn-custom update-button" type="submit">Update Post</button>
    </div>
    <div class="form-group">
      <button id='delete-button' class="btn btn-primary btn-custom delete-button" type="submit">Delete Post</button>
    </div>
  </form>
</div>

{{!-- <script src="http://localhost:3001/js/updatePost.js"></script> --}}
<script src="/js/updatePost.js"></script>

