<section class="">
  {{!-- <a href="/post/{{id}}"> --}}
  <a href="/post/abc">
    {{!-- {{#each gallery.paintings as |painting|}} --}}
    {{> post-details}}
    {{!-- {{/each}} --}}
  </a>
</section>