{{!-- <div class="row justify-space-between-md"> --}}
<div class="login-card">
  <h2 class="page-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username:</label>
      <input class="password-login" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input class="password-login" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      {{!-- <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" /> --}}

      <input class="password-login" type="password" name="password" autocomplete="current-password" required="" id="password-login">
      <i class="far fa-eye-slash" id="toggle-password"></i>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-custom" type="Submit!">Sign Up!</button>
    </div>
  </form>
  <div class="login">
    <a href="/login">Login instead</a>
  </div>
</div>
{{!-- </div> --}}

<script src="./js/password.js"></script>
<script src="./js/signup.js"></script>